<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <div class="text-lg-end pt-2">
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->

      <button
        class="btn btn-primary btn-sm mx-2"
        type="button"
        [disabled]="service.isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'VisaFlowApp.Applications.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewApplication' | abpLocalization }}
      </button>
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    @if (service.filters; as filters) {
      <abp-advanced-entity-filters-form>
        <form #filterForm (keyup.enter)="list.get()">
          <!--<suite-custom-code-block-3>-->
          <!--</suite-custom-code-block-3>-->
          <div class="row">
            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="refCodeFilter">
                  {{ '::RefCode' | abpLocalization }}
                </label>

                <input
                  id="refCodeFilter"
                  class="form-control"
                  [(ngModel)]="filters.refCode"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="trackingCodeFilter">
                  {{ '::TrackingCode' | abpLocalization }}
                </label>

                <input
                  id="trackingCodeFilter"
                  class="form-control"
                  [(ngModel)]="filters.trackingCode"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="notesFilter">
                  {{ '::Notes' | abpLocalization }}
                </label>

                <input
                  id="notesFilter"
                  class="form-control"
                  [(ngModel)]="filters.notes"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="minReservationDate">
                  {{ '::MinReservationDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    id="minReservationDate"
                    class="form-control"
                    #minReservationDateInput
                    #minReservationDateDatepicker="ngbDatepicker"
                    name="minReservationDate"
                    ngbDatepicker
                    container="body"
                    readonly
                    (click)="minReservationDateDatepicker.toggle()"
                    (keyup.space)="minReservationDateDatepicker.toggle()"
                    [(ngModel)]="filters.reservationDateMin"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  @if (minReservationDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          minReservationDateDatepicker.writeValue(null);
                          minReservationDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="maxReservationDate">
                  {{ '::MaxReservationDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    id="maxReservationDate"
                    class="form-control"
                    #maxReservationDateInput
                    #maxReservationDateDatepicker="ngbDatepicker"
                    name="maxReservationDate"
                    ngbDatepicker
                    readonly
                    (click)="maxReservationDateDatepicker.toggle()"
                    (keyup.space)="maxReservationDateDatepicker.toggle()"
                    [(ngModel)]="filters.reservationDateMax"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  @if (maxReservationDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          maxReservationDateDatepicker.writeValue(null);
                          maxReservationDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="minReservationTime">
                  {{ '::MinReservationTime' | abpLocalization }}
                </label>

                <ngb-timepicker
                  id="minReservationTime"
                  name="minReservationTime"
                  [(ngModel)]="filters.reservationTimeMin"
                  [ngModelOptions]="{ standalone: true }"
                  [spinners]="false"
                  [meridian]="true"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="maxReservationTime">
                  {{ '::MaxReservationTime' | abpLocalization }}
                </label>

                <ngb-timepicker
                  id="maxReservationTime"
                  name="maxReservationTime"
                  [(ngModel)]="filters.reservationTimeMax"
                  [ngModelOptions]="{ standalone: true }"
                  [spinners]="false"
                  [meridian]="true"
                >
                </ngb-timepicker>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="isDocumentedFilter">
                  {{ '::IsDocumented' | abpLocalization }}
                </label>

                <select
                  name="isDocumented"
                  id="isDocumentedFilter"
                  class="form-select form-control"
                  [(ngModel)]="filters.isDocumented"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="list.get()"
                >
                  <option [ngValue]=""></option>
                  <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                  <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="applicationStatusFilter">
                  {{ '::ApplicationStatus' | abpLocalization }}
                </label>

                <select
                  id="applicationStatusFilter"
                  class="form-select form-control"
                  [(ngModel)]="filters.applicationStatus"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option [ngValue]="null"></option>
                  <option
                    *ngFor="let option of applicationStatusOptions; trackBy: track.by('value')"
                    [ngValue]="option.value"
                  >
                    {{ '::Enum:ApplicationStatus.' + option.value | abpLocalization }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-auto align-self-end mb-3">
              <div class="row">
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                    <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                  </button>
                </div>
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-primary" (click)="list.get()">
                    <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--<suite-custom-code-block-4>-->
          <!--</suite-custom-code-block-4>-->
        </form>
      </abp-advanced-entity-filters-form>
    }
  </abp-advanced-entity-filters>
  <!--<suite-custom-code-block-5>-->
  <!--</suite-custom-code-block-5>-->
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      @if (service.selectedCount() > 0) {
        <h4 class="card-title">
          {{
            '::AllItemsAreSelected'
              | abpLocalization
                : (service.allSelected() ? service.data.totalCount : service.selectedCount())
          }}
        </h4>

        <div>
          <button class="btn btn-outline-primary btn-sm" (click)="service.selectAll()">
            @if (service.allSelected()) {
              {{ '::ClearSelection' | abpLocalization }}
            } @else {
              {{ '::SelectAllItems' | abpLocalization: service.data.totalCount }}
            }
          </button>

          <button
            *abpPermission="'VisaFlowApp.Applications.Delete'"
            class="btn btn-danger btn-sm mx-1"
            (click)="service.bulkDelete()"
          >
            <i class="fa fa-trash me-1" aria-hidden="true"></i>
            {{ 'AbpUi::Delete' | abpLocalization: service.selectedCount() }}
          </button>
        </div>
      }
    </div>

    <!--<suite-custom-code-block-6>-->
    <!--</suite-custom-code-block-6>-->
    <div class="card-body">
      <!--<suite-custom-code-block-7>-->
      <!--</suite-custom-code-block-7>-->
      <ngx-datatable
        #applicationTable
        default
        [rows]="service.data.items"
        [count]="service.data.totalCount"
        [list]="list"
        [selected]="service.selected()"
        [selectionType]="service.selectionType.checkbox"
        (select)="service.onSelect($event)"
      >
        <!--<suite-custom-code-block-8>-->
        <!--</suite-custom-code-block-8>-->

        <ngx-datatable-column
          [width]="40"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
        >
          <ng-template
            ngx-datatable-header-template
            let-value="value"
            let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn"
          >
            @if (service.data.items.length > 0) {
              <input
                type="checkbox"
                class="form-check-input"
                [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"
              />
            }
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isSelected"
              (change)="onCheckboxChangeFn($event)"
            />
          </ng-template>
        </ngx-datatable-column>

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail rowHeight="100%">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <ul id="application-nav-tabs mb-0" ngbNav #nav="ngbNav" class="nav-tabs">
              <li *abpPermission="'VisaFlowApp.Visas'" id="visa-informations" ngbNavItem>
                <a ngbNavLink>{{ '::Visa' | abpLocalization }}</a>

                <ng-template ngbNavContent>
                  <app-visa [applicationId]="row.id" />
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="m-0 fade-in-top"></div>
          </ng-template>
        </ngx-datatable-row-detail>
        @if (isChildEntitiesPermitted) {
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                class="ngx-datatable-toggle text-decoration-none text-muted fa"
                [class.fa-angle-down]="!expanded"
                [class.fa-angle-up]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>
        }

        @if (isActionButtonVisible) {
          <ngx-datatable-column
            [name]="'AbpUi::Actions' | abpLocalization"
            [maxWidth]="150"
            [width]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog me-1" aria-hidden="true"></i>
                  {{ 'AbpUi::Actions' | abpLocalization }}
                </button>

                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *abpPermission="'VisaFlowApp.Applications.Edit'"
                    (click)="update(row)"
                  >
                    {{ 'AbpUi::Edit' | abpLocalization }}
                  </button>

                  <button
                    ngbDropdownItem
                    *abpPermission="'VisaFlowApp.Applications.Delete'"
                    (click)="delete(row)"
                  >
                    {{ 'AbpUi::Delete' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        }
        <ngx-datatable-column name="{{ '::RefCode' | abpLocalization }}" prop="refCode">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.refCode }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::TrackingCode' | abpLocalization }}" prop="trackingCode">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.trackingCode }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Notes' | abpLocalization }}" prop="notes">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.notes }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::ReservationDate' | abpLocalization }}"
          prop="reservationDate"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.reservationDate | abpUtcToLocal: 'date' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::ReservationTime' | abpLocalization }}"
          prop="reservationTime"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.reservationTime }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::IsDocumented' | abpLocalization }}" prop="isDocumented">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template [ngIf]="row.isDocumented" [ngIfThen]="yes" [ngIfElse]="no"></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::ApplicationStatus' | abpLocalization }}"
          prop="applicationStatus"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{
              row.applicationStatus !== null
                ? ('::Enum:ApplicationStatus.' + row.applicationStatus | abpLocalization)
                : ''
            }}
          </ng-template>
        </ngx-datatable-column>
        <!--<suite-custom-code-block-9>-->
        <!--</suite-custom-code-block-9>-->
      </ngx-datatable>
      <!--<suite-custom-code-block-10>-->
      <!--</suite-custom-code-block-10>-->
    </div>
  </div>
  <!--<suite-custom-code-block-11>-->
  <!--</suite-custom-code-block-11>-->
</abp-page>
<!--<suite-custom-code-block-12>-->
<!--</suite-custom-code-block-12>-->

@defer (when serviceDetail.isVisible) {
  @if (serviceDetail.isVisible) {
    <app-application-detail-modal />
  }
}
