<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewBasket') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form [formGroup]="service.form" id="basket" (ngSubmit)="service.submitForm()" validateOnSubmit>
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Basket' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  id="basket-has-invoice"
                  formControlName="hasInvoice"
                  class="form-check-input"
                  autofocus
                />

                <label for="basket-has-invoice" class="form-check-label">
                  {{ '::HasInvoice' | abpLocalization }}
                </label>
              </div>

              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  id="basket-is-issued"
                  formControlName="isIssued"
                  class="form-check-input"
                />

                <label for="basket-is-issued" class="form-check-label">
                  {{ '::IsIssued' | abpLocalization }}
                </label>
              </div>

              <div class="mb-3">
                <label class="form-label" for="basket-payment-date">
                  {{ '::PaymentDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="basket-payment-date"
                    formControlName="paymentDate"
                    class="form-control"
                    ngbDatepicker
                    #paymentDateInput
                    #paymentDateDatepicker="ngbDatepicker"
                    (click)="paymentDateDatepicker.open()"
                    (keyup.space)="paymentDateDatepicker.open()"
                  />
                  @if (paymentDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          paymentDateDatepicker.writeValue(null);
                          paymentDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="basket-application-id">
                  {{ '::ApplicationId' | abpLocalization }}
                </label>

                <input
                  id="basket-application-id"
                  formControlName="applicationId"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="basket-customer-id">
                  {{ '::Customer' | abpLocalization }} *
                </label>
                <abp-lookup-typeahead
                  cid="basket-customer-id"
                  formControlName="customerId"
                  displayNameProp="name"
                  [getFn]="service.getCustomerLookup"
                  [editingData]="service.selected?.customer"
                ></abp-lookup-typeahead>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="basket">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
