<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewPassport') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="passport"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Passport' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="passport-number">
                  {{ '::Number' | abpLocalization }} *
                </label>

                <input
                  id="passport-number"
                  formControlName="number"
                  class="form-control"
                  autofocus
                />
              </div>

              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  id="passport-is-main"
                  formControlName="isMain"
                  class="form-check-input"
                />

                <label for="passport-is-main" class="form-check-label">
                  {{ '::IsMain' | abpLocalization }}
                </label>
              </div>

              <div class="mb-3">
                <label class="form-label" for="passport-start-date">
                  {{ '::StartDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="passport-start-date"
                    formControlName="startDate"
                    class="form-control"
                    ngbDatepicker
                    #startDateInput
                    #startDateDatepicker="ngbDatepicker"
                    (click)="startDateDatepicker.open()"
                    (keyup.space)="startDateDatepicker.open()"
                  />
                  <div *ngIf="startDateInput.value" class="input-group-append">
                    <button
                      class="btn btn-link px-2"
                      type="button"
                      [title]="'AbpUi::Clear' | abpLocalization"
                      (click)="
                        startDateDatepicker.writeValue(null);
                        startDateDatepicker.manualDateChange(null, true)
                      "
                    >
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="passport-valid-date">
                  {{ '::ValidDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="passport-valid-date"
                    formControlName="validDate"
                    class="form-control"
                    ngbDatepicker
                    #validDateInput
                    #validDateDatepicker="ngbDatepicker"
                    (click)="validDateDatepicker.open()"
                    (keyup.space)="validDateDatepicker.open()"
                  />
                  <div *ngIf="validDateInput.value" class="input-group-append">
                    <button
                      class="btn btn-link px-2"
                      type="button"
                      [title]="'AbpUi::Clear' | abpLocalization"
                      (click)="
                        validDateDatepicker.writeValue(null);
                        validDateDatepicker.manualDateChange(null, true)
                      "
                    >
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="passport-issued-by">
                  {{ '::IssuedBy' | abpLocalization }} *
                </label>

                <input id="passport-issued-by" formControlName="issuedBy" class="form-control" />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="passport">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
